
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Haven</title>
  <link rel="stylesheet" href="../assets/css/Landing.css">
</head>
<body>
  <!-- Navigation Bar -->
  <header>
    
    <nav>
      <ul class="nav-links">
        <li><a href="Landing_page.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="Login.html">Login</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
   <section class= "wrapper">
    <h1>WELCOME TO THE LIBRARY HAVEN</h1>
        <div class ="info">
            <p>
            Welcome to BookHaven, your personalized library experience brought online! At BookHaven, we believe in making knowledge accessible and convenient.
             Search for your favorite books, reserve them ahead of time, and track your borrowing history, all with just a few clicks. 
             No more waiting in line to check availability. BookHaven lets you see in real-time if a book is ready for you. Plus, our automated reminders ensure you never miss a due date. 
             For librarians, managing the library collection has never been easier. Add new books, track requests, and organize borrowing records effortlessly.
              Join BookHaven and step into the future of library management,because your time and love for reading deserve it!</p>
        </div>
        
    </section>
    <div class="btn">
    <a href="signup.html">Join US Now</button></a>
    </div>
   






  <!-- Footer -->
  <footer>
    <p>&copy; 2024 Library Haven. All rights reserved.</p>
  </footer>
</body>
</html>
